<div class="container">

  <h1 class="text-center p-5">Agenda de Personas</h1>
  <!-- <button type="button" class="btn  btn-outline-primary mb-4" data-bs-toggle="modal" -->
    <div class="d-flex justify-content-end">

      <button type="button" class="btn  btn-outline-primary mb-4" (click)="openModal()">Agregar</button>
    </div>


  <!-- Form Person -->
  <person-form [formModal]="formModal" ></person-form>

  <!-- List Person -->
  <person-list [formModal]="formModal" [deleteModal]="deleteModal"></person-list>

  <!-- Dialog Delete Person -->
  <dialog-delete-person [deleteModal]="deleteModal"></dialog-delete-person>
</div>