<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Genero</th>
            <th scope="col">Edad</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of persons;let i =index">
            <th scope="row">{{i+1}}</th>
            <td>
                <div *ngIf="isEdit && person.id ==idSelect">
                    <input type="text" [(ngModel)]="person.name" class="formControl">
                </div>
                <div *ngIf="!isEdit">

                    {{person.name}}
                </div>
            </td>
            <td>
                <div *ngIf="isEdit">
                    <input type="text" [(ngModel)]="person.lastName" class="formControl">
                </div>
                <div *ngIf="!isEdit">
                {{person.lastName}}
            </div>
            </td>
            <td>
                <div *ngIf="isEdit">
                    <input type="text" [(ngModel)]="person.ci" class="formControl">
                </div>
                <div *ngIf="!isEdit">
                {{person.ci}}
            </div>
            </td>
            <td>

                {{person.gender}}
            </td>
            <td>
                <div *ngIf="isEdit">
                    <input type="text" [(ngModel)]="person.age" class="formControl">
                </div>
                <div *ngIf="!isEdit">
                {{person.age}}
            </div>
            </td>
            <td class="d-flex gap-2">
                <!-- EDIT -->
                <button *ngIf="!isEdit" (click)="editPerson(person)" class="btn btn-info "><i class="bi bi-pencil-square"></i></button>
                <button *ngIf="isEdit" (click)="closeEdit(person)" class="btn btn-primary"><i class="bi bi-check-lg"></i></button>
                <!-- DELETE -->
                <button (click)="openModalDelete(person)" class="btn btn-danger "><i class="bi bi-trash-fill"></i></button>

            </td>
        </tr>

    </tbody>
</table>