<form [formGroup]="formPerson" (ngSubmit)="saveForm()" autocomplete="off">


  <div class="mb-3">
    <label for="namePersonForm" class="form-label">Nombre</label>
    <input formControlName="name" type="text" class="form-control" id="namePersonForm">
    <span *ngIf="isValidField('name')" class="text-danger">El campo nombre es requerido</span>
  </div>
  <div class="mb-3">
    <label for="lastnameForm" class="form-label">Apellido</label>
    <input formControlName="lastname" type="text" class="form-control" id="lastnameForm">
    <span *ngIf="isValidField('lastname')" class="text-danger">El campo apellido es requerido</span>
  </div>
  <div class="mb-3">
    <label for="ciForm" class="form-label">Cedula</label>
    <input formControlName="ci" type="text" class="form-control" id="ciForm">
    <span *ngIf="isValidField('ci')" class="text-danger">El campo cedula es requerido</span>
  </div>
  <div class="mb-3">
    <label for="generoForm" class="form-label">Genero</label>
    <div class="form-check">
      <input class="form-check-input" value="M" type="radio" formControlName="gender" id="genderMale">
      <label for="genderMale">Masculino</label>
    </div>
    <div class="form-check">

      <input class="form-check-input" value="F" type="radio" formControlName="gender" id="genderFemale">
      <label for="genderFemale"> Femenino</label>
    </div>
  </div>
  <div class="mb-3">
    <label for="ageForm" class="form-label">Edad</label>
    <input type="number" formControlName="age" class="form-control" id="ageForm">
    <span *ngIf="isValidField('age')" class="text-danger">El campo edad es requerido</span>
  </div>

  <button class="btn btn-success" type="submit">Guardar</button>

</form>